#container{
    background-color: black;
    display: grid;
    height: 100vh;
    grid-template-columns: 27.5% 70%;
    grid-template-rows: 15% 65% 15%;
    grid-template-areas: 
    "hd hd"
    "nv mn"
    "ft ft";
    gap: 2.5%;
    overflow: hidden;
}

header{
    background-color: #9b59b6;
    display: grid;
    grid-area: hd;
}

nav{
    background-color: #9b59b6;
    display: grid;
    grid-area: nv;
}

main{
    background-color: #9b59b6;
    display: grid; 
    grid-area: mn;
}

footer{
    background-color: #9b59b6;
    display: grid; 
    grid-area: ft;
}